
/*消除浏览器默认*/
body {margin:0px; padding:0px}

/* 头部的布局*/
.header{
	margin:0 auto;
	width:900px;
	height:150px;
	background-color:#8cc540;
}

.logo{
	float:left;
	width:400px;
	height:150px;
	background-color:#8cc540;
}

.logo h1{
	margin-left:30px;
	margin-top:40px;
	font-family:"微软雅黑";
	color:#0e0e80;
}

.logo h4{
	margin-top:20px;
	margin-left:120px;
	font-family:"微软雅黑";
	color:#0e0e80;
	
}

.headmenu{
	float:right;
	width:%100;
	height:150px;
	background-color:#8cc540;
}

.headmenu ul{
	float:right;
	list-style:none;
	margin:0px;
	padding:0px;
}

.headmenu ul li{
	float:right;
	width:90px;
	height:150px;
	margin-top:120px;
	text-align:center;

}

.headmenu ul li a:link, .headmenu ul li a:visited {
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:16px;
}

.headmenu ul li a:hover, .headmenu ul li a:active{
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:16px;
	color:#ff0;
}
	
	
/*头部布局结束*/

	
/*主体的布局*/

.main{
	background-color:#fff;
	margin:20px auto;
	width:900px;
	height:1000px;
	overflow:hidden;

}

.main_left{
	float:left;
	width:660px;
	height:100%;
	background-color:#fff;
	
}

.list{
	margin-top:0px;
	width:650px;
	height:200px;
	background-color:#8cc540;
}


.list_show{
	margin-top:0px;
	width:650px;
	height:900px;
	background-color:#8cc540;
}


.list_content{
	margin-top:20px;
	font-family:"微软雅黑";
}

.list_head{
	border-bottom:3px solid #EDEDED;
	height:30px;
	margin-top:0px;
	padding-bottom: 5px;
}

.list_title{
	float:left;
	width:400px;
}

.list_title p{
	padding:0px;
	margin:2px 5px;
	font-size:25px;
	font-family:"微软雅黑";
}



.list_author{
	float:right;
	width:200px;
	font-family:"微软雅黑";
}


.list_author p{
	padding:0px;
	margin-top:20px;
	margin-left:5px;
	font-size:12px;
	
}


.list_desc{
	font-family:"微软雅黑";
	height:138px;
}

.list_footer{
	width:100%;
	height:20px;
}

.list_footer span{
	font-size:10px;
	padding-bottom:30px;
	margin-left:5px;
	margin-bottom:10px;
	font-family:"微软雅黑";
}

.list_footer span a:link, .list_footer span a:visited, .list_page span a:link, .list_page span a:visited{
	text-decoration:none;
	font-family:"微软雅黑";

}

.list_footer span a:hover, .list_footer span a:active, .list_page span a:hover, .list_page span a:active{
	text-decoration:none;
	font-family:"微软雅黑";
	color:#ff0;
}

.list_bottom{
	height:30px;
	background-color:#FFF;
}

.list_page{
	margin-top:30px;
	height:50px;
	width:650px;
	background-color:#8cc540;
}

.list_page span{
	float:left;
	margin-left:20px;
	margin-top:15px;
	font-family:"微软雅黑";
}

.pageinput{
	width:35px;
}

.main_right{
	float:right;
	width:220px;
	height:100%;
	background-color:#8cc540;	
}

.main_right h2{
	margin-left:5px;
	font-size:25px;
	color:#687790;
	
}


.search_text{
	width:160px;
	height:20px;
	margin-top:2px;
	margin-left:5px;
	font-size:12px;
	padding-top:5px;
	font-family:"微软雅黑";
}

.search_icon{
	float:right;
	height:34px;
	margin-top:0px;
	margin-right:3px;
}


/*主体布局结束*/



/*尾部布局结束*/

.footer{
	width:900px;
	height:80px;
	margin:0 auto;
	background-color:#8cc540;
	
}

.footer p{
	text-align:center;
	padding:30px;
	color:#996666;
	font-size:20px;
}

/*尾部布局结束*/




