
/*消除浏览器默认*/
body {margin:0px; padding:0px}

/* 头部的布局*/
.header{
	margin:0 auto;
	width:900px;
	height:100px;
	background-color:#8cc540;
}

.logo{
	float:left;
	width:100%;
	height:100px;
	background-color:#8cc540;
}

.logo h1{
	margin-left:30px;
	margin-top:40px;
	font-family:"微软雅黑";
	color:#0e0e80;
	text-align:center;
}


	
/*头部布局结束*/

	
/*主体的布局*/

.main{
	background-color:#fff;
	margin:1px auto;
	width:900px;
	height:750px;
	overflow:hidden;

}

.main_left{
	float:left;
	width:220px;
	height:100%;
	background-color:#8cc540;
	
}

.main_left ul{
	float:left;
	margin-top:20px;
	text-align:center;

}


.main_left ul li a:link, .main_left ul li a:visited {
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:16px;
}

.main_left ul li a:hover, .main_left ul li a:active{
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:16px;
	color:#ff0;
}
	
.list_page span a:link, .list_page span a:visited{
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:16px;
}


.list_page span a:hover, .list_page span a:active{
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:16px;
	color:#ff0;
}
.main_left ul li{

	list-style:none;
	margin-bottom:10px;
	padding:0px;
}


.main_right{
	float:right;
	width:680px;
	height:100%;
	background-color:#ccc;

}

.manage_form{
	width:660px;
	margin:10px auto;
	border:0; 
	cellpadding:8px;
	cellspacing:1px;
	bgcolor:#000000;
	
}

.manage_form tr td{
	background-color:#fff;
	
}

.list_page{
	margin:20px auto 0;
	margin-left:1px;
	height:50px;
	width:680px;
	background-color:#8cc540;
}

.list_page span{
	float:left;
	margin-left:20px;
	margin-top:15px;
	font-family:"微软雅黑";
}

.pageinput{
	width:35px;
}     
/*主体布局结束*/



/*尾部布局结束*/

.footer{
	width:900px;
	height:60px;
	background-color:#8cc540;
	margin:0 auto;
	font-family:"微软雅黑";
	font-size:15px;
	text-align:center;

}
 

/*尾部布局结束*/




